/* styles.css - Challenge #2 (Skeleton: Rides Gallery) */


/* 0) Base page */
* {
    font-family: 'Times New Roman', Times, serif;
}

/* 1) Container */
.container {
    max-width: 800px;
    margin: auto;
}

/* 2) Section heading */
.attractions h2{
    text-align: center;
}

/* 3) Cards wrapper (center all cards horizontally) */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
}

/* 4) Card (size, spacing, border, rounded corners) */
.card {
    border: 1px solid rgb(168, 166, 166);
    border-radius: 20px;
    width: 100%;
}

/* 5) Card text (h3 title, paragraph blurb) */
.card h3, .blurb{
    text-align: start;
    padding-left: 1vw;
}

.card h3 {
    font-weight: bold;
}

.card:hover {
    border: 1px solid red;
    animation: wiggle 0.5s;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    70% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.blurb {
    color: rgb(88, 87, 87);
    line-height: 2vh;
}


/* 6) Card image (fit within card, centered) */
.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

/* 7) Hover state: change border to green, then make it wigglew */


/* 8) Footer */
.site-footer {
    text-align: center;
    padding-top: 2vh;
}
